# Ignore Python virtual environments
venv/
*/.venv/

# Ignore OS files
.DS_Store

# Ignore editor folders
.vscode/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env
